img {
  max-width: 100%;
  max-height: 100%;
}

.sjs-sortablejs-root {
}

.sjs-sortablejs-result {
}

.sjs-sortablejs-result .sjs-sortablejs-item {
}

.sjs-sortablejs-source {
  display: none;
}

.sjs-sortablejs-source .sjs-sortablejs-item {
  border: 10px solid white;
}

.sjs-sortablejs-item {
  padding: 10px;
  color: white;
}

.sjs-sortablejs-source div,
.sjs-sortablejs-result div {
}